.CodeEditor{
  position: absolute;
  top: 0px;
  width: 100%;
  bottom: 0;
  background-color: #1f1f1c;
  color: silver;
  font-family: monospace;
  padding: 24px;
  font-size: 16px;
  line-height: 120%;
}
